<!DOCTYPE html>
<html>
    <head>
        <title>lol money</title>
    </head>
    <body>
        <form action="/count" method="post" charset="utf-2">
            <label>Enter your money in cents</label>
            <input type="number" name="cents">

            <button type="submit">Calc!</button>
        </form>
    </body>
</html>
